
body{ display:flex; flex-direction: row; z-index: 0;}

#monster-body{
    width:200px;  height:200px; border:1px solid black;
    border-radius:10px; z-index: 1;
}
#eyes{
    display: inline-flex;  width:80%;  margin-top: 10px;
    margin-left: 10%; margin-right:10%;
}
.monster-eye{
    display:inline-flex; width:30px; height:30px;
    border:1px solid black; margin:auto;  border-radius: 50%;
}
#mouth{
    width:100px; height:60px; border:1px solid black;  margin:auto;
    margin-top: 30px;  border-radius: 50%;
}
input{margin-bottom: 10px;}

#inputs{ display:flex; flex-direction: column; margin-left: 70px; }